


html {
  font-size: 1rem;
  font-family: 'Bungee', cursive;
  background-color: #ff69b4;
}

body {
  padding:5rem 0;
  color:#000000;
}

a {
  text-decoration: underline;
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #000000;
}

main {
  display:grid;
  grid-template-columns: 50% 50% ;
  grid-auto-rows:min-content;
  grid-gap:6rem 0;
  width: 100vw;
  margin: 0 auto;
}

.intro-block {
  grid-column:1 / 2;
}

.statement {
  grid-column:1 / 2;
}

.projects {
  grid-column:1 / 2;
}

.item {
  grid-column:1;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}

.definition {
  grid-column:2;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}



h1, h2, h3, h4, h5 {
  font-family: 'Bungee', cursive;
  margin-bottom:2rem;
}

h1 {
  font-size:6rem;
  font-weight:800;
}
h2 {
  font-size:3rem;
}
h3 {
  font-size:2rem;
  font-weight:300;

}
h4 {
  font-size:2rem;
}


li {
  font-size: 2rem;
  font-family: 'Bungee', cursive;
  line-height: 1.5;
  padding: .5rem 0;
}

p {
  font-size: 3rem;
  line-height: 1.5;
  margin-bottom:1rem;
  font-family: 'Bungee', cursive;
}

.location {
  font-size: 2rem;
  font-family: 'Bungee', cursive;
  text-transform: uppercase;
  line-height: 1.5;
}

img {
  display: block;
  _margin: 0 auto;
}

figcaption {
  font-size: .875rem;
  font-family: 'Bungee', cursive;
  padding-top: 1rem;
}
